// Use placeholder for common CSS. If it needs a parameter, use a mixin.
// Box sizing
@mixin box-sizing($box-model: border-box){
  box-sizing: $box-model;
}

@mixin opacity($opacity: 1.0){
  opacity: $opacity;
}
