// Use placeholder for common CSS. If it needs a parameter, use a mixin.
// Clears children
%clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// Clears previous siblings
%clear {
  clear: both;
}

%clear-left {
  clear: left;
}

%clear-right {
  clear: right;
}

// An easy way to truncate text with an ellipsis. Requires the element to be block or inline-block.
%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%no-margin {
  margin: 0;
}

%no-padding {
  padding: 0;
}

%no-margin-padding {
  @extend %no-margin;
  @extend %no-padding;
}

%float-left{
  float: left;
}

%float-right{
  float: right;
}

%no-underline{
  text-decoration: none;
}

%list-style-none {
  list-style: none inside;
}

%reseted-list {
  @extend %no-margin-padding;
  @extend %list-style-none;
}

%screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

%show {
  @include opacity(1); 
  visibility: visible;
}
%hide {
  @include opacity(0); 
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}