@import '_mixin.scss';
@import '_placeholder.scss';

// Inherited box sizing - https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a, a:hover {
  @extend %no-underline;
}
input, button {
  outline: 0;
}

// Body
body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 1000px;
}

// Sticky 
.sticky-nav{
  @extend %clearfix;
  position: fixed;
  z-index: 100;
  top: -85px;
  background: rgba(125,98,51,.9);
  width: 100%;
  transition: top 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  .logo {
    @extend %float-left;
    padding: 30px;
    max-width: 30%;
    img {
      display: block;
    }
  }
  .menu-top {
    @extend %float-right;
    max-width: 70%;
  }
}
.sticky {
  top:0;
}
.menu-top {
  color: #ffe1ad;
  ul {
    @extend %no-margin-padding;
    list-style: none;
  }
  li {
    position: relative;
  }
  > ul {
    > li { // First level list item
      @extend %float-left;
      line-height: 80px;
      white-space: nowrap;
      margin: 0 20px;
    }
  }
  svg {
    fill: #ffe1ad;
    width: 15px;
    height: 10px;
  }
  a {
    @extend %no-underline;
    font-size: 16px;
    text-transform: uppercase;
  }
  ul ul { // Child list
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    background: #876e42;
    margin-left: -20px;
    padding-bottom: 10px;
    li {
      line-height: normal;
      padding: 0px 10px 5px;
    }
  }
  li:hover > a svg {
    transform: rotate(90deg);
    fill: #fff;
  }
  li:hover > ul {
    display: block;
  }
}

.header {
  background: rgba(#000000, 0.3);
  font-size: 16px;
  ul {
    @extend %reseted-list;
  }
}
.pages-index .header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
.col-left {
  @extend %clearfix;
  padding: 38px 0;
}
.hamburger {
  @extend %float-left;
  @extend %no-margin-padding;
  width: 30px;
  height: 22px;
  display: block;
  background: none;
  border: 0;
  margin-right: 40px;
  position: relative;
  span {
    display: block;
    width: 30px;
    height: 4px;
    background: #fdc75d;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 250ms ease-out;
  }
  span:nth-child(1){
    top:0;
  }
  span:nth-child(2){
    top: 9px;
  }
  span:nth-child(3){
    top: 9px;
  }
  span:nth-child(4){
    top: 18px;
  }
  &:hover {
    span {
      background: #fff;
    }
  }
  &.active {
    span {
      background: #fff;
    }
    span:nth-child(1),
    span:nth-child(4){
      top: 9px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2){
      transform: rotate(45deg);
    }
    span:nth-child(3){
      transform: rotate(-45deg);
    }
  }
}
.menu-left {
  @extend %clearfix;
  @extend %float-left;
  li {
    @extend %float-left;
    padding-right: 15px;
    line-height: 22px;
  }
  li:after {
    content: "/";
    color: #ffe1ad;
    margin-left: 18px;
  }
  li:last-child::after {
    content:""
  }
}

.menu-right {
  padding: 32px 0;
  > ul {
    @extend %clearfix;
    > li {
      @extend %float-left;
      position: relative;
    }
  }
  svg {
    width: 10px;
  height: 10px;
  fill: #ffe1ad;
  }
}

.my-account {
  padding: 6px 0;
  margin-right:  42px;
  > ul {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 32px;
    margin-left: -75px;
    width: 150px;
    box-sizing: content-box;
    padding: 25px 50px;
    background: rgba(52, 37, 15, 0.8);
  }
}

// Search
.search {
  margin-right: 40px;
  input {
    width: 270px;
    padding: 0 32px 0 5px;
    line-height: 32px;
    border: 1px solid rgba(#ffffff, 0.30);
    background: rgba(#ffffff, 0.15);
    color: rgba(#ffffff, 0.9);
    outline: 0;
  }
  button {
    position: absolute;
    right: 4px;
    top: 50%;
    background: none;
    width: 25px;
    height: 25px;
    border: 0;
    text-align: center;
    padding: 0;
    margin: -12px 0 0 0;
  }
  svg {
    width: 25px;
    height: 25px;
    display: inline-block;
  }
}

// Cart
.cart {
  margin-right: 40px;
  a {
    display: block;
    width: 30px;
    height: 30px;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.languages {
  position: relative;
  
  > a {
    @extend %no-underline;
    display: block;
    line-height: 1;
    span {
      display: inline-block;
      width: 30px;
      height: 20px;
      background: url(../images/flags.gif) no-repeat 0 0;
      text-indent: -9999px;
    }
    span.de {
      background-position: 0  -20px;
    }
    span.en {
      background-position: 0  -40px;
    }
    span.nl {
      background-position: 0  0;
    }
    span.us {
      background-position: 0px  -300px;
    }
  }
  ul {
    position: absolute;
    left: 0;
    top: 100%;
    li a {
      background: url(../images/flags.gif) no-repeat 0 0;
      text-indent: -9999px;
      line-height: 1;
      display: block;
      width: 30px;
      height: 20px;
    }
    li {
      a.de {
        background-position: 0  -20px;
      }
      a.en {
        background-position: 0  -40px;
      }
      a.nl {
        background-position: 0  0;
      }
      a.us {
        background-position: 0px  -300px;
      }
    }
  }
}

// Side
.menu-side {
  @extend %hide;
  position: absolute;
  top: 98px;
  left: 0; 
  bottom: 0;
  background: rgba(#34250f, 0.8);
  width: 448px;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  svg {
    width: 10px;
    height: 10px;
    stroke-width: 5px;
    stroke: #ffe1ad;
  }
  &.show {
    @extend %show;
  }
  ul {
    @extend %reseted-list;
    li {
      margin-bottom: 20px;
    }
  }
}

// Nicescroll plugin
.nicescroll-cursors{
  border: 2px solid #ffe1ad !important;
  background: rgba(52, 37, 15, 0.6) !important;
}
#ascrail2000{
  display: none !important;
}
#ascrail2000.show {
  display: block !important;
}

.banner {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  height: 890px;
  position: relative;
  img {
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -193px;
    margin-top: -127px;
  }
}