.sticky-nav:after, .col-left:after, .menu-left:after, .menu-right > ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.header ul, .menu-side ul, .menu-top ul, .hamburger {
  margin: 0;
}

.header ul, .menu-side ul, .menu-top ul, .hamburger {
  padding: 0;
}

.sticky-nav .logo, .menu-top > ul > li, .hamburger, .menu-left, .menu-left li, .menu-right > ul > li {
  float: left;
}

.sticky-nav .menu-top {
  float: right;
}

a, a:hover, .menu-top a, .languages > a {
  text-decoration: none;
}

.header ul, .menu-side ul {
  list-style: none inside;
}

.menu-side.show {
  opacity: 1;
  visibility: visible;
}

.menu-side {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input, button {
  outline: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 1000px;
}

.sticky-nav {
  position: fixed;
  z-index: 100;
  top: -85px;
  background: rgba(125, 98, 51, 0.9);
  width: 100%;
  transition: top 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sticky-nav .logo {
  padding: 30px;
  max-width: 30%;
}

.sticky-nav .logo img {
  display: block;
}

.sticky-nav .menu-top {
  max-width: 70%;
}

.sticky {
  top: 0;
}

.menu-top {
  color: #ffe1ad;
}

.menu-top ul {
  list-style: none;
}

.menu-top li {
  position: relative;
}

.menu-top > ul > li {
  line-height: 80px;
  white-space: nowrap;
  margin: 0 20px;
}

.menu-top svg {
  fill: #ffe1ad;
  width: 15px;
  height: 10px;
}

.menu-top a {
  font-size: 16px;
  text-transform: uppercase;
}

.menu-top ul ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  background: #876e42;
  margin-left: -20px;
  padding-bottom: 10px;
}

.menu-top ul ul li {
  line-height: normal;
  padding: 0px 10px 5px;
}

.menu-top li:hover > a svg {
  transform: rotate(90deg);
  fill: #fff;
}

.menu-top li:hover > ul {
  display: block;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.pages-index .header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}

.col-left {
  padding: 38px 0;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: block;
  background: none;
  border: 0;
  margin-right: 40px;
  position: relative;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background: #fdc75d;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 250ms ease-out;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 9px;
}

.hamburger span:nth-child(3) {
  top: 9px;
}

.hamburger span:nth-child(4) {
  top: 18px;
}

.hamburger:hover span {
  background: #fff;
}

.hamburger.active span {
  background: #fff;
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.hamburger.active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu-left li {
  padding-right: 15px;
  line-height: 22px;
}

.menu-left li:after {
  content: "/";
  color: #ffe1ad;
  margin-left: 18px;
}

.menu-left li:last-child::after {
  content: "";
}

.menu-right {
  padding: 32px 0;
}

.menu-right > ul > li {
  position: relative;
}

.menu-right svg {
  width: 10px;
  height: 10px;
  fill: #ffe1ad;
}

.my-account {
  padding: 6px 0;
  margin-right: 42px;
}

.my-account > ul {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 32px;
  margin-left: -75px;
  width: 150px;
  box-sizing: content-box;
  padding: 25px 50px;
  background: rgba(52, 37, 15, 0.8);
}

.search {
  margin-right: 40px;
}

.search input {
  width: 270px;
  padding: 0 32px 0 5px;
  line-height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.9);
  outline: 0;
}

.search button {
  position: absolute;
  right: 4px;
  top: 50%;
  background: none;
  width: 25px;
  height: 25px;
  border: 0;
  text-align: center;
  padding: 0;
  margin: -12px 0 0 0;
}

.search svg {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.cart {
  margin-right: 40px;
}

.cart a {
  display: block;
  width: 30px;
  height: 30px;
}

.cart svg {
  width: 30px;
  height: 30px;
}

.languages {
  position: relative;
}

.languages > a {
  display: block;
  line-height: 1;
}

.languages > a span {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: url(../images/flags.gif) no-repeat 0 0;
  text-indent: -9999px;
}

.languages > a span.de {
  background-position: 0  -20px;
}

.languages > a span.en {
  background-position: 0  -40px;
}

.languages > a span.nl {
  background-position: 0  0;
}

.languages > a span.us {
  background-position: 0px  -300px;
}

.languages ul {
  position: absolute;
  left: 0;
  top: 100%;
}

.languages ul li a {
  background: url(../images/flags.gif) no-repeat 0 0;
  text-indent: -9999px;
  line-height: 1;
  display: block;
  width: 30px;
  height: 20px;
}

.languages ul li a.de {
  background-position: 0  -20px;
}

.languages ul li a.en {
  background-position: 0  -40px;
}

.languages ul li a.nl {
  background-position: 0  0;
}

.languages ul li a.us {
  background-position: 0px  -300px;
}

.menu-side {
  position: absolute;
  top: 98px;
  left: 0;
  bottom: 0;
  background: rgba(52, 37, 15, 0.8);
  width: 448px;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.menu-side svg {
  width: 10px;
  height: 10px;
  stroke-width: 5px;
  stroke: #ffe1ad;
}

.menu-side ul li {
  margin-bottom: 20px;
}

.nicescroll-cursors {
  border: 2px solid #ffe1ad !important;
  background: rgba(52, 37, 15, 0.6) !important;
}

#ascrail2000 {
  display: none !important;
}

#ascrail2000.show {
  display: block !important;
}

.banner {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  height: 890px;
  position: relative;
}

.banner img {
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -193px;
  margin-top: -127px;
}
